# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
dev-server.log
dev-server-err.log

# local env files
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# local tooling
.kilo/